<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Update user</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:method="POST" th:action="@{/{id}(id=${user.getId})}" th:object="${user}">
            <label for="name">Enter name: </label>
            <input type="text" th:field="*{name}" id="name">/>
            <label for="age">Enter age: </label>
            <input type="text" th:field="*{age}" id="name">/>
            <label for="gender">Enter gender: </label>
            <input type="text" th:field="*{gender}" id="name">/>
            <br>
            <input type="submit" value="Update"/>
        </form>
    </body>
</html>
